<!DOCTYPE html>
<html>
  <head>
    <title>I Need A Prompt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
    <base target="_blank" />
    <script src="/ineedaprompt.js"></script>
    <script src="/script.js"></script>
    <meta property="og:url" content="http://{{url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:site_name" content="INeedAPrompt" />
  </head>
  <body>
    {{#if name}}
      <input id="navToggler" type="checkbox" />
      <label id="navTrigger" for="navToggler"><span>SETTINGS&vellip;</span></label>
    {{/if}}
    <div id="mainBox">
      {{#if count}}
      <h1 id="promptNext" class="button">I Need A Prompt &num;<span id="promptNum">{{count}}</span></h1>
      {{else}}
      <h1><a href="/" target="_top" class="button">I Need A Prompt</a></h1>
      {{/if}}
      <main>
        <div id="promptPlaque">
          <blockquote id="promptOutput">{{prompt}}</blockquote>
          {{#if name}}
          <aside>
            <ul class="links">
              <li><a id="twitter">&num;ineedaprompt</a></li>
              <li><a id="reddit">r/ineedaprompt</a></li>
              <li><a id="facebook">facebook</a></li>
              <li><a id="permalink">permalink</a></li>
            </ul>
          </aside>
          {{/if}}
        </div>
      </main>
      <footer>
        <ul id="wordTypes">
          {{#each choices}}
          <li>
            <input type="checkbox" {{this.checked}} value="{{this.type}}" id="choice_{{@index}}" />
            <label for="choice_{{@index}}">{{this.type}}</label>
          </li>
          {{/each}}
        </ul>
        <ul class="links">
          <li><a href="http://robertakarobin.com">by RobertAKARobin</a></li>
          <li><a id="apiLink" href="/dictionary/{{name}}/prompt?q=adj+noun+adv+verb+noun+location">API</a></li>
          <li><a class="tiles" href="http://magnetichtml.com">
            <span class="t">&lt;h2&gt;</span>
            <span>My</span><span>other</span><span>project</span>
            <span class="t">&lt;/h2&gt;</span>
          </a></li>
        </ul>
      </footer>
    </div>
    {{#if name}}
      <nav>
        <h3>Make your own prompt dictionary!</h3>
        <input type="hidden" id="dictionaryName" value="{{name}}" />
        <form id="dictionaryForm" target="_top" method="post" action="/dictionary">
          <ul id="wordColumns">
            {{#each lists}}
            <li class="list">
              <label for="{{@key}}">{{@key}}s</label>
              <textarea id="{{@key}}" name="{{@key}}">{{this}}</textarea>
            </li>
            {{/each}}
          </ul>
          <div id="dictionaryInfo">
            <input type="text" name="dictionary" placeholder="Give your dictionary a name" value="{{displayName}}" />
            <input type="password" name="password" placeholder="Pick a password" />
            <input type="submit" value="Save your dictionary" />
          </div>
        </form>
        {{#if isDefault}}
          <h3>Suggest new words on&hellip;</h3>
          <ul class="links">
            <li><a href="https://github.com/RobertAKARobin/inap-node/issues/1">Github</a></li>
            <li><a href="https://twitter.com/intent/tweet?text=%40robertakarobin+%23ineedaprompt+New+words%3A%20">Twitter</a></li>
            <li><a href="https://www.reddit.com/r/ineedaprompt/comments/3yuoig/have_ideas_for_new_words_or_phrases/">Reddit</a></li>
          </ul>
        {{/if}}
      </nav>
    {{/if}}
  </body>
</html>
